@using ECommerce.Entity;
@model IEnumerable<Member>
@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared2/_UserLayout.cshtml";
}

<h2>Profilim</h2>
<br />
@foreach (var item in Model)
{
    <a href="~/User/ProfilDuzenle/@item.UserId" class="btn btn-info"><i class="fa fa-pencil"></i> Profilimi Düzenle</a>

    <table class="table table-hover table-condensed table-striped">
        <tr>
            <td><strong>Adı Soyadı : </strong></td>
            <td><b style="font-family:'Times New Roman', Times, serif">@Html.DisplayFor(m => item.FirstName) @Html.DisplayFor(t => item.LastName)</b></td>
        </tr>
        <tr>
            <td><strong>Adres : </strong></td>
            <td><i style="font-family:'Comic Sans MS'">@Html.DisplayFor(m => item.Address)</i></td>
        </tr>
        <tr>
            <td><strong>Email Adresi : </strong></td>
            <td><i style="font-family:'Comic Sans MS'">@Html.DisplayFor(m => item.Email)</i></td>
        </tr>
        <tr>
            <td><strong>Rolü : </strong></td>
            <td><i style="font-family:'Comic Sans MS'">@Html.DisplayFor(m => item.UserRole.RoleName)</i></td>
        </tr>
        <tr></tr>
    </table>
    <div align="center">
        <a href="~/Admin/Brand/Edit/@item.UserId" class="btn btn-danger"><i class="fa fa-warning"></i> Şifremi Değiştir</a>
    </div>


}
